<div>
    <h1>
        ¡Hola, {{user.firstName}}!
    </h1>
    <div style="text-align:center;">
        <img src="cid:banner">
    </div>
    <p>¡Prepárate para una experiencia en nuestra tienda de productos de tecnologia!</p>
    <p>Invita a tus amigos porfa</p>
    <h2>Puedes comenzar a ver nuestra lista de productos <a href="http://localhost:8080" style="color:rgb(0, 217, 255);">Aquí</a></h2>
</div>